<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.raja.hubbleconnected"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".FeedInfoActivity"
            android:label="@string/title_activity_feed_info"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".FeedDisplayActivity"
            android:label="@string/title_activity_feed_display"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
